body {
	font-family: 'Lato', sans-serif;
	background-color: #f0e9ce;
}

h1 {
	text-align: center;
	color: #266fa1;
	font-family: Helvetica, sans-serif;
}

h4 {
	font-family: Georgia;
}

ul {
	postion: center;
	display:inline-block;
	color: #808080;
	padding-bottom: 3px;
	font-size: 14px;
	padding-right: 10px;
	float: left;
    font-weight: bold;
    margin: 0 50px 0 0;
    padding: 15 !important;
    text-align: center;
    background-color: #f4f1e7;
    line-height: 150%;
}

.menu {
    justify-content: space-between;
}

img {
    position: absolute;
    top: 65%;
    margin-left: -(X/2)px;
    margin-top: -(Y/2)px;
}

