body {
	font-family: 'Lato', sans-serif;
	background-color: #f0e9ce;
}

h1 {
	text-align: center;
	color: #266fa1;
	font-family: Helvetica, sans-serif;
}

h4 {
	font-family: Georgia;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

ul {
  border-top-left-radius: 80px 30px;
  postion: center;
	display:inline-block;
	color: #808080;
	padding-bottom: 3px;
	font-size: 14px;
	padding-right: 10px;
	float: left;
  font-weight: bold;
  margin: 0 50px 0 5px;
  padding: 15 !important;
  text-align: center;
  background-color: #f4f1e7;
  line-height: 150%;
  border-width: 1px;
  border-style: solid;
  border-color: #266fa1 #266fa1 #000 #266fa1;
  text-align: justify;
  text-justify: inter-word;
}

.menu {
    justify-content: space-between;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

